@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.linear-gradient {
  background: linear-gradient(
    210deg,
    rgba(216, 32, 60, 0.64) 0%,
    rgb(233, 114, 130) 100%
  );
}
